@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-300 text-gray-800;

  background-image: url('/quail.svg'); /* Використання SVG як фону */
  background-repeat: repeat; /* Повторення зображення */
  background-size: 10vw 10vw; /* Зміна розміру кожного повторення */
  background-position: 0 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: linear-gradient(45deg, #166534, #fef08a);
  background-clip: content-box; /* 🔹 Важливо для підтримки градієнта */
  border: 3px solid #166534; /* 🔹 Додає чіткі межі */
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #166534;
  border: 3px solid #fef08a;
}

@layer components {
  .modal-content::-webkit-scrollbar {
    width: 1em;
  }

  .modal-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background: linear-gradient(45deg, #166534, #fef08a);
    background-clip: content-box; /* 🔹 Важливо для підтримки градієнта */
    border: 3px solid #166534; /* 🔹 Додає чіткі межі */
  }

  .modal-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #166534;
    border: 3px solid #fef08a;
  }
}
